In [4]:
import numpy as np
import pandas as pd

In [7]:
pets = pd.DataFrame({'sex': np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),
                   'age': np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                   'pets': np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})

C:\Users\sapsy\AppData\Local\Temp\ipykernel_25848\627336042.py:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'pets': np.array([['cat', 'dog'],

In [6]:
pets

NameError: name 'pets' is not defined

In [ ]:
mini = pets['age'].min()

# Finding Sex of Pet Owners having Min age

In [8]:
pets

  sex  age                     pets
0   M   21               [cat, dog]
1   M   45                [hamster]
2   F   23            [cat, gerbil]
3   M   56  [fish, hamster, gerbil]
4   F   47                    [cat]
5   F   70                    [dog]
6   F   34                    [dog]
7   M   30                    [cat]
8   F   19            [rabbit, cat]
9   M   62                    [dog]

In [9]:
result = pets[pets['age']==pets['age'].min()]
print(result[['sex']])

  sex
8   F

# Adding a new Column having Number of Pets for each owner

pets = pets.assign(num_pets = pets['pets'].str.len())
pets

In [17]:
pets.loc[pets['num_pets'] == max(pets['num_pets']), 'age']

3    56
Name: age, dtype: int32

** What was the most popular pet? **

In [18]:
pet_series = pets['pets'].apply(pd.Series).stack().reset_index(drop=True)
pet_series

0         cat
1         dog
2     hamster
3         cat
4      gerbil
5        fish
6     hamster
7      gerbil
8         cat
9         dog
10        dog
11        cat
12     rabbit
13        cat
14        dog
dtype: object

In [20]:
pet_series.value_counts()

cat        5
dog        4
hamster    2
gerbil     2
fish       1
rabbit     1
dtype: int64

# Finding Avg. age of Dog Owners

In [36]:
pets.loc[pets['pets'].apply(lambda x: 'dog' in x), 'age'].mean()

46.75